Практическое задание 4
КМБО-06-20, Бундуки Владислав, Вариант 2

исходные данные:
1) Набор данных - https://www.kaggle.com/arashnic/hr-analytics-job-change-of-data-scientists?select=aug_test.csv
2) Тип классификатора - LogisticRegression(логистическая регрессия)
3) Классификация по стобцу - Education level (Masters – класс 0, остальные уровни – класс 1)

Устанавливаем необходимые библиотеки:

In [2]:
!pip install pandas
!pip install sklearn

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in d:\anaconda\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in d:\anaconda\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in d:\anaconda\lib\site-packages (from scikit-learn->sklearn) (0.17.0)
Requirement already satisfied: scipy>=0.19.1 in d:\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied: numpy>=1.13.3 in d:\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.19.2)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1321 sha256=34cf0ef5f7db635f77be996a32d6f9fa2d2daaeee5cc5569830bf44fa7ef280b
  Stored in directory: c:\users\vladb\appdata\local\pip\cache\wheels\22\0b\40\fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
data = pd.read_csv('aug_test.csv', index_col='city')

#исключим столбец с уникальными значениями: enrollee_id	
data = data[data.columns.drop(['enrollee_id'])]
data.head()

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
city,,,,,,,,,,,
city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98
city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,Pvt Ltd,never,15
city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11,10/49,Pvt Ltd,1,39
city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,72

Описание столбцов:
enrollee_id :  уникальный идентификатор кандидата

city: Код города

city_ development _index : индекс развития города (в масштабе)

gender: Пол кандидата

relevent_experience: Соответствующий опыт кандидата

enrolled_university: Тип зачисленных университетских курсов, если таковые имеются.

education_level: Уровень образования кандидата

major_discipline :Обучение основной дисциплине кандидата

experience: Кандидатский общий стаж в годах

company_size: Количество сотрудников в компании текущего работодателя

company_type : Тип текущего работодателя

lastnewjob: разница в годах между предыдущей работой и текущей работой

training_hours: завершенные часы обучения

target: 0 - Не ищу смены работы, 1 - Ищу смену работы

In [2]:
#Выводим информацию о датасете
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2129 entries, city_41 to city_102
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_development_index  2129 non-null   float64
 1   gender                  1621 non-null   object
 2   relevent_experience     2129 non-null   object
 3   enrolled_university     2098 non-null   object
 4   education_level         2077 non-null   object
 5   major_discipline        1817 non-null   object
 6   experience              2124 non-null   object
 7   company_size            1507 non-null   object
 8   company_type            1495 non-null   object
 9   last_new_job            2089 non-null   object
 10  training_hours          2129 non-null   int64
dtypes: float64(1), int64(1), object(9)
memory usage: 199.6+ KB

In [3]:
#Посмотрим на статистики численных данных:
data.describe()

       city_development_index  training_hours
count             2129.000000     2129.000000
mean                 0.824984       64.983091
std                  0.125074       60.238660
min                  0.448000        1.000000
25%                  0.698000       23.000000
50%                  0.903000       47.000000
75%                  0.920000       86.000000
max                  0.949000      334.000000

In [4]:
#Кодируем столбец из категориального признака
data['gender'] = np.where(data['gender'] == 'Male', 1, 0)
data['education_level'] = np.where(data['education_level'] == 'Masters', 0, 1)
data['relevent_experience'] = np.where(data['relevent_experience'] == 'No relevent experience',0,1)

In [5]:
data.gender.head()

city
city_41     1
city_103    0
city_21     1
city_13     1
city_103    1
Name: gender, dtype: int32

In [6]:
data['company_type'].value_counts()

Pvt Ltd                1141
Public Sector           127
Funded Startup           97
Early Stage Startup      65
NGO                      53
Other                    12
Name: company_type, dtype: int64

In [7]:
enrolled_university = pd.get_dummies(data['enrolled_university']) 
data = pd.concat((data, enrolled_university), axis=1)

last_new_job = pd.get_dummies(data['last_new_job']) 
data = pd.concat((data, last_new_job), axis=1)

major_discipline = pd.get_dummies(data['major_discipline']) 
data = pd.concat((data, major_discipline), axis=1)

company_type = pd.get_dummies(data['company_type']) 
data = pd.concat((data, company_type), axis=1)

data.head()

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,...,Humanities,No Major,Other,STEM,Early Stage Startup,Funded Startup,NGO,Other,Public Sector,Pvt Ltd
city,,,,,,,,,,,,,,,,,,,,,
city_41,0.827,1,1,Full time course,1,STEM,9,<10,NaN,1,...,0,0,0,1,0,0,0,0,0,0
city_103,0.920,0,1,no_enrollment,1,STEM,5,NaN,Pvt Ltd,1,...,0,0,0,1,0,0,0,0,0,1
city_21,0.624,1,0,no_enrollment,1,NaN,<1,NaN,Pvt Ltd,never,...,0,0,0,0,0,0,0,0,0,1
city_13,0.827,1,1,no_enrollment,0,STEM,11,10/49,Pvt Ltd,1,...,0,0,0,1,0,0,0,0,0,1
city_103,0.920,1,1,no_enrollment,1,STEM,>20,10000+,Pvt Ltd,>4,...,0,0,0,1,0,0,0,0,0,1

In [8]:
data

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,...,Humanities,No Major,Other,STEM,Early Stage Startup,Funded Startup,NGO,Other,Public Sector,Pvt Ltd
city,,,,,,,,,,,,,,,,,,,,,
city_41,0.827,1,1,Full time course,1,STEM,9,<10,NaN,1,...,0,0,0,1,0,0,0,0,0,0
city_103,0.920,0,1,no_enrollment,1,STEM,5,NaN,Pvt Ltd,1,...,0,0,0,1,0,0,0,0,0,1
city_21,0.624,1,0,no_enrollment,1,NaN,<1,NaN,Pvt Ltd,never,...,0,0,0,0,0,0,0,0,0,1
city_13,0.827,1,1,no_enrollment,0,STEM,11,10/49,Pvt Ltd,1,...,0,0,0,1,0,0,0,0,0,1
city_103,0.920,1,1,no_enrollment,1,STEM,>20,10000+,Pvt Ltd,>4,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
city_103,0.920,1,0,no_enrollment,1,Humanities,16,NaN,Public Sector,4,...,1,0,0,0,0,0,0,0,1,0
city_136,0.897,1,1,no_enrollment,0,STEM,18,NaN,NaN,2,...,0,0,0,1,0,0,0,0,0,0
city_100,0.887,1,0,no_enrollment,1,NaN,3,NaN,Pvt Ltd,never,...,0,0,0,0,0,0,0,0,0,1
city_102,0.804,1,1,Full time course,1,NaN,7,100-500,Public Sector,1,...,0,0,0,0,0,0,0,0,1,0
city_102,0.804,1,1,no_enrollment,0,STEM,15,10000+,Pvt Ltd,2,...,0,0,0,1,0,0,0,0,0,1

Выделяем целевую переменную

In [9]:
target = data.education_level
train = data.drop(['education_level'], axis=1)

In [10]:
train.head()

,city_development_index,gender,relevent_experience,enrolled_university,major_discipline,experience,company_size,company_type,last_new_job,training_hours,...,Humanities,No Major,Other,STEM,Early Stage Startup,Funded Startup,NGO,Other,Public Sector,Pvt Ltd
city,,,,,,,,,,,,,,,,,,,,,
city_41,0.827,1,1,Full time course,STEM,9,<10,NaN,1,21,...,0,0,0,1,0,0,0,0,0,0
city_103,0.920,0,1,no_enrollment,STEM,5,NaN,Pvt Ltd,1,98,...,0,0,0,1,0,0,0,0,0,1
city_21,0.624,1,0,no_enrollment,NaN,<1,NaN,Pvt Ltd,never,15,...,0,0,0,0,0,0,0,0,0,1
city_13,0.827,1,1,no_enrollment,STEM,11,10/49,Pvt Ltd,1,39,...,0,0,0,1,0,0,0,0,0,1
city_103,0.920,1,1,no_enrollment,STEM,>20,10000+,Pvt Ltd,>4,72,...,0,0,0,1,0,0,0,0,0,1

Выделяем тренировочную и тестовую выборки

In [11]:
#y - целевая переменнная (target)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, target, test_size = 0.3, random_state = 42)

N_train, _ = X_train.shape 
N_test,  _ = X_test.shape 
print (N_train, N_test)

1490 639

Построим классификатор логистической регрессии

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold